{% extends "layout.html" %}
{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "You are ascending!",
        text: "We have sent you a telepathic transmission"
      }) }}

      <h2 class="nhsuk-heading-m">Your magical initiation ceremony details </h2>

      {% set siteLocationHtml %}
        Mount Magique<br>
        End of the Rainbow Rd
        
      {% endset %}

      {{ summaryList({
        classes: "nhsuk-summary-list--no-border",
        rows: [
          {
            key: {
              text: "Site location"
            },
            value: {
              html: siteLocationHtml
            }
          },
          {
            key: {
              text: "Date and time"
            },
            value: {
              text: "Thursday 15 June at 9:10am"
            }
          }
        ]
      }) }}

      {% from 'do-dont-list/macro.njk' import list %}

{{ list({
  title: "Do",
  type: "tick",
  items: [
    {
      text: "use your powers for good"
    },
    {
      text: "develop new magical powers regularly"
    },
    {
      text: "find a Familiar from the animal kingdom and develop a working magical relationship with them"
    }
  ]
}) }}

{{ list({
  title: "Don't",
  type: "cross",
  items: [
    {
      text: "use your magical powers for evil"
    },
    {
      text: "don't judge the non-magicals"
    },
    {
      text: "wear embarassing clothes. having magical powers is no excuse for dressing like Broomhilda"
    },
    {
      text: "transmit your powers to a non-magical person. It won't work and could kill them"
    }
  ]
}) }}

    </div>
  </div>
{% endblock %}